
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  text-decoration: none;
  white-space: nowrap;

  .text {
    margin: 0;
    color: var(--white);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &:not(.iconRight) .icon {
    margin-right: 8px;
  }

  &.iconRight .icon {
    margin-left: 8px;
  }


  &.primary {
    background-color: var(--main-blue100);
    color: var(--white);

    &:not(:disabled):hover {
      background-color: var(--main-blue010);
    }
  }

  &.secondary {
    background-color: var(--main-blue050);
    color: var(--main-default);

    &:not(:disabled):hover {
      background-color: var(--main-blue060);
    }
  }

  &:disabled,
  &.disabled {
    background-color: var(--main-surface5);
    color: var(--main-disabled);
    cursor: not-allowed;
  }
}
