.notification {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.warning {
  background-color: var(--main-red050);
  color: var(--main-red110);
  padding: 10px 16px;
  border-radius: 100px;
  align-items: center;

  .iconWrapper {
    margin-right: 8px;
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .content {
    font-size: 14px;
    line-height: 140%;
    color: var(--main-red110);
  }
}

.info {
  background-color: var(--main-red050);
  color: var(--main-default);
  padding: 20px;
  border-radius: 16px;
  flex-direction: column;
  gap: 16px;
}

.infoItem {
  display: flex;
  align-items: flex-start;
}

.infoItemIcon {
  margin-right: 12px;
  flex-shrink: 0;
}

.infoItemContent {
  font-size: 15px;
  line-height: 1.6;

  p {
    margin: 0;
  }
}
